{%load static%}
{%include 'basemain.html'%}

<head>
    <link rel="stylesheet" href="{%static 'css/ProdDet.css'%}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <div class="alert alert-success my-4 text-center" role="alert">
                    YAY!!! Order Placed Successfully...
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-3 col-md-6 my-4">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Order Details</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Customer Name</th>
                            <td>{{details.name}}</td>

                        </tr>
                        <tr>
                            <th scope="row">Product Name</th>
                            <td>{{data.Item}}</td>

                        </tr>
                        <tr>
                            <th scope="row">Price</th>
                            <td>{{data.Item.Price}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Status</th>
                            <td>{{data.Status}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Address</th>
                            <td>{{details.Address}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row my-4">
                    <div class="col-md-6">
                        <a href="{%url 'MyOrders'%}" class="button btn btn-primary btn-block mx-3">My Orders</a>
                    </div>
                    <div class="col-md-6">
                        <a href="{%url 'Main'%}" class="button btn btn-primary btn-block">Home</a>
                    </div>
                </div>

            </div>

        </div>

    </div>

    </div>
</body>